* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #020d45;
    background: linear-gradient(90deg, #5936b4 0%, #362a84 100%);
    color: #222;
    font-size: 1rem;
}


.temperature-converter {
    margin: auto;
    background: #fff;
    width: 60vw;
    min-width: 270px;
    max-height: 500px;
    padding: 20px 25px 45px;
    border-radius: 5px;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    box-shadow: -5px -5px 25px 0 rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(21px);
}

.mobile {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    color: #222;
    font-size: 2.5rem;
    text-align: center;
}

.result {
    text-align: center;
    margin: 60px 0;
}

.result-heading {
    color: #131212;
    font-size: 2rem;
    font-weight: 600;
}

.celsius-value {
    border-bottom: 2px solid #ccc;
    padding: 10px;
    transition: all .45s ease;
}

.degree-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.degree-field {
    display: flex;
    flex-direction: column;
    width: 46%;
}

label {
    color: #0a0202;
    font-size: 1.5rem;
    margin-bottom: -5px;
}

input,
select {
    background: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 8px;
    margin: 15px;

}

input:focus {
    border: 1px solid #4c49f3;
}

option {
    background: #3c39e7;
    color: #f6f6f6;
}

.convert-btn {
    border: none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(225deg, #4c49f38b, #082ff49a),
     linear-gradient(90deg, #3c39e776, #0fe621);
    color: #f6f6f6;
    padding: 20px 80px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: 10%;
    margin-bottom: 10%;
    transition: all .3s ease-in;
    text-transform: uppercase;
    cursor: pointer;
}

.convert-btn:hover {
    background: linear-gradient(45deg, #4c49f374, #3c39e7);
}

.convert-btn:active {

    transform: scale(.95);
    transition: 100ms;
    color: rgb(226, 101, 18);
}


.fa {
    margin-left: -12px;
    margin-right: 8px;
}